*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

#game_grid {
  border: 2px tomato solid;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.d-none {
  display: none;
}

.card {
  width: 33.3%;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
}


img {
  width: 100%
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
}


.flip {
  transform: rotateY(180deg);
}


.front_face {
  transform: rotateY(180deg);
}

.left-grow,
.right-grow {
  flex-grow: 1;
  flex-basis: 0;
}

.margin-right {
  margin-right: 2px;
}


button.selectedDifficulty:disabled,
button.selectedDifficulty[disabled] {
  border: 2px solid rgb(203, 30, 0);
  background-color: #0d6dfd;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.matched {
  border: 2px solid rgb(0, 203, 30);
}
