b<%- include('./partials/header.ejs'); %>
<code>app.get("*") @404page.ejs</code>
<br />
<br />
<h1>404: Sorry can't find that!</h1>
<br />
<button onclick="window.location.href='/'">Home</button>
<button value="Back" onclick="window.history.back()"">Back</button>
<%- include('./partials/footer.ejs'); %>
