<code>app.get('/protectedRoute')</code>
<h1>Home Page - Logged In</h1>
<p>Welcome, <strong><%= username %></strong>! <%- adminBtn %></p>
<img src="/<%= image %>" alt="random welcome image" />
<br />
<br />
<input type="button" value="Logout" onclick="window.location.href='/logout'" />